<h1>Centro de mensjaes</h1>
<div class="box">
    <form onsubmit="return createMessage()">
        <input required id="mail" type="text" placeholder="Ingrese el correo">

        <h3>Mensajes</h3>
        <div id="messagesForm">
        </div>
        <br>
        <input required id="mensaje" type="text" placeholder="Ingrese el mensaje">
        <input type="submit"  value="Enviar">
    </form>

</div>